.dashboard-roadmap {
	width: 100%;
	height: 100%;
	padding: 1rem;

	.roadmap-container {
		width: 100%;
		height: 100%;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		background-color: white;
		border-radius: 0.5rem;

		.roadmap-fallback {
			border: 1px solid gray;
			padding: 1rem;
			border-radius: 1rem;
			background-color: beige;
		}

		.roadmap-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 1rem;

			&-input {
				border: 1px solid gray;
				border-radius: 0.5rem;
				width: 10rem;
				overflow-x: hidden;
				padding-left: 0.3rem;
			}

			&-title {
				height: 1.8rem;
				width: 10rem;
				padding: 0 0.5rem;
				display: flex;
				align-items: center;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			&-text {
				display: flex;
				gap: 1rem;
				align-items: center;
			}

			&-icons {
				display: flex;
				gap: 1rem;
			}

			&-icons > * {
				cursor: pointer;
			}
		}

		.roadmap-content {
			display: flex;
			flex-direction: column;
			border-radius: 0.5rem;
			gap: 0.25rem;
			overflow-y: auto;
			overflow-x: hidden;
		}
	}
}
