.dashboard-roadmap {
	width: 100%;
	height: 100%;
	padding: 1rem;

	.roadmap-content {
		width: 100%;
		height: 100%;
		padding: 0.5rem;
		display: flex;
		flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    gap: 0.25rem;

		.roadmap-header {
			padding: 1rem;
			display: flex;
			gap: 1rem;
		}

		.roadmap-content {
			overflow-y: auto;
			overflow-x: hidden;
		}
	}
}
