.empty-trips-fallback {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	& > * {
		border: 1px solid;
		background-color: var(--white);
		padding: 4rem 6rem;
		border-radius: 0.25rem;
	}
}

.image-gallery-fallback {
	height: 100%;
	border: 1px solid var(--main-border-color);
	border-radius: 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--light-blue);
}

.dashboard-fallback {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&-text {
		border: 1px solid var(--main-border-color);
		padding: 4rem 2rem;
		border-radius: 0.25rem;
		background-color: var(--white);
	}
}

.roadmap-fallback {
	border: 1px solid var(--main-border-color);
	padding: 1rem;
	border-radius: 0.25rem;
	text-align: center;
	background-color: var(--main-background-color);
}

.comments-fallback {
	font-weight: bold;
	border: 1px solid var(--main-border-color);
	border-radius: 0.25rem;
	padding: 5rem 0;
	text-align: center;
	background-color: var(--white);
}

.wysiwyg-fallback {
	border: 1px solid var(--main-border-color);
	border-radius: 0.25rem;
	background-color: var(--white);
	padding: 2rem 0.5rem;
	text-align: center;
}
