.dashboard {
  height: calc(100% - 2.5rem);
  display: flex;
  flex-direction: column;

  &-main {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #f5f5ec;
    border: 1px solid grey;
    border-radius: 0 0 0.5rem 0.5rem;
  
    &-left {
      flex: 1;
      max-width: 30rem;
    }
  
    &-center {
      width: 60rem;
      padding: 1rem;

      .center-container {
        height: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-breadcrumb {
          padding: 0 0.5rem;
        }

        .center-dropdown-container {
          display: flex;
          gap: 1rem;
        }

        .center-image-gallery {
          height: 20rem;
        }

        .image-gallery-fallback {
          height: 100%;
          border: 1px solid grey;
          border-radius: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: lightblue;
        }

        .center-controls {
          height: 100%;
          padding: 1rem;
          border: 1px solid grey;
          background-color: lightblue;
          border-radius: 0.5rem;
        }
      }
    }
  
    &-right {
      flex: 1;
      max-width: 30rem;
    }
  }
}