:root {
  --main-border-color: #808080;
  --main-background-color: #e8e8e8;

  --nav-footer-bg-color: #541b7a;
  --nav-footer-color: #ded5e3;

  --hover-background-color: #f5f1f0;

  --white: #fff;
  --black: #000;
  --light-blue: #add8e6;
}