@use './reset';
@use './variables';
@use './mixins';

.app {
  background-color: var(--main-background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;

  &-pages {
    flex: 1;
    margin-top: 4.1rem;
    margin-bottom: 2rem;
    overflow-y: auto;
  }
}
