.item-card {
  width: 100%;
  border: 1px solid var(--main-border-color);
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &-metadata {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}