.register-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 20rem;

	label {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;

		input {
			padding: 0.5rem;
			border-radius: 0.25rem;
			background-color: lightgrey;
			width: 100%;
		}
	}

	button {
		margin-top: 1rem;
		padding: 0.5rem 1rem;
		color: white;
		background-color: blue;
		border-radius: 0.25rem;
		cursor: pointer;
	}

	.form-password, .form-password-repeat {
		display: flex;
		align-items: center;
		background-color: lightgrey;
		border-radius: 0.25rem;

		.password-eye-icon {
			padding: 0.5rem;
			cursor: pointer;
		}
	}

	&-login {
		padding: 0.5rem;
		display: flex;
		gap: 0.5rem;
		justify-content: center;

		.login-button {
			color: blue;
			font-weight: bold;
			cursor: pointer;
		}
	}

	.error-message {
		color: var(--red);
		font-weight: 500;
	}
}