.language-switcher {
  display: flex;

  Button {
    cursor: pointer;
    color: var(--nav-footer-color);
  }

  .language-active {
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--nav-footer-color);
  }
}