.navbar {
  border-bottom: 1px solid grey;
  
  padding: 0 1rem;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0.5rem 0;
    font-weight: bold;

    &-left {
      display: flex;
      align-items: center;
      gap: 2rem;

      .navbar-logo {
        max-width: 3rem;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}