.navbar {
	width: 100%;
	background-color: var(--nav-footer-bg-color);
	color: var(--nav-footer-color);
	height: 4.1rem;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

	&-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 60rem;
		margin: 0 auto;
		padding: 0.5rem 1rem;
		font-weight: bold;

		&-left {
			display: flex;
			align-items: center;
			gap: 2rem;

			.navbar-logo {
				max-width: 3rem;
			}

			& > * :hover{
				color: var(--white);
			}
		}

		&-right {
			display: flex;
			align-items: center;
			gap: 1rem;

			.navbar-login,
			.navbar-logout,
			.navbar-registration {
				cursor: pointer;
			}

			.navbar-user-icon {
				color: var(--black);
				border: 1px solid var(--main-border-color);
				padding: 0.5rem;
				width: 2.5rem;
				border-radius: 50%;
				background-color: greenyellow;
				text-align: center;
			}
		}
	}

	.active-nav-item {
		color: var(--white);
		text-decoration: underline;
		text-decoration-thickness: 0.2rem;
		text-underline-offset: 0.3rem;
	}
}
