.dashboard-tabmenu {
  border: 1px solid red;
  padding: 0 0.5rem;
  display: flex;
  gap: 0.5rem;

  .tabmenu-item {
    display: flex;
    align-items: center;
    border: 1px solid green;

    &-name {
      padding: 0.25rem 0.5rem;
      border: 1px solid yellow;
      cursor: pointer;
    }

    &-options {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 1.25rem;
      border: 1px solid green;
      cursor: pointer;
    }
  }

  .tabmenu-add {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 0 0.5rem;
    cursor: pointer;
  }
}