.dashboard-tabmenu {
  border: 1px solid grey;
  padding: 0 0.5rem;
  height: 2.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 0.5rem 0.5rem 0 0;

  .tabmenu-item-container {
    display: flex;
    width: fit-content;
    gap: 0.5rem;
  }

  .tabmenu-add {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    cursor: pointer;
    gap: 0.5rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
  }

  .active-tab {
    background-color: aquamarine;
  }
}