.dashboard-tabmenu {
	margin-top: 1rem;
	border-bottom: 2px solid var(--main-border-color);
	height: 2.5rem;
	display: flex;
	align-items: center;
	overflow-x: overlay;
	scrollbar-width: thin;

	.tabmenu-item-container {
		display: flex;
		width: fit-content;
		gap: 0.25rem;
	}

	.tabmenu-add {
		display: flex;
		align-items: center;
		padding: 0 0.5rem;
		cursor: pointer;
		gap: 0.5rem;
		border: 1px solid var(--main-border-color);
		border-radius: 0.25rem;
	}

	.active-tab {
		background-color: var(--white);
	}
}
