.dashboard-input {
	height: 100%;
	display: flex;
	gap: 2rem;

	.input-container-left {
		width: 50%;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		&-top {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.input-title {
				display: flex;
				flex-direction: column;
				gap: 0.25rem;

				input {
					border: 1px solid grey;
					border-radius: 0.5rem;
					padding: 0.25rem 0.5rem;
					width: 12rem;
					background-color: white;
				}
			}

			.input-date {
				display: flex;
				flex-direction: column;
				gap: 0.25rem;

				input {
					border: 1px solid grey;
					border-radius: 0.5rem;
					padding: 0.25rem 0.5rem;
					width: 12rem;
					letter-spacing: 0.1rem;
					background-color: white;
				}
			}
		}

		.input-notes {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;

			textarea {
				border: 1px solid grey;
				border-radius: 0.5rem;
				padding: 0.25rem 0.5rem;
				width: 100%;
				background-color: white;
			}
		}
	}

	.input-container-right {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.input-uploads {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			&-info {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				border: 1px solid grey;
				padding: 0.5rem;
				border-radius: 0.5rem;
				background-color: white;

				input {
					border: 1px solid grey;
					width: fit-content;
					padding: 0.25rem 0.5rem;
					border-radius: 0.5rem;
					cursor: pointer;
					max-width: 100%;
				}
			}

			.upload-container {
				height: 11rem;
				display: flex;
				flex-direction: column;
				overflow-y: auto;

				.upload-item {
					display: flex;
					align-items: center;
					gap: 1rem;
					padding: 0.5rem;

					&-title {
						cursor: pointer;
						text-decoration: underline;
					}

					button {
						cursor: pointer;
					}
				}

				.odd-color {
					background-color: #99d8e6;
				}

				.even-color {
					background-color: #7fc4d3;
				}
			}
		}

		.input-save-button {
			display: flex;
			justify-content: end;

			button {
				padding: 0.5rem 2rem;
				border: 1px solid grey;
				border-radius: 2rem;
				background-color: green;
				color: white;
				cursor: pointer;
			}

			&.disabled {
				opacity: 0.5;

				button {
					cursor:default;
				}
			}
		}
	}
}
